.jumbotron {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 1rem;
  }

.jumbotron .display-1 {
    position: absolute;
    width: 507px;
    height: 168px;
    left: 38px;
    top: 112px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
  }

.jumbotron .display-3 {
    position: absolute;
    width: 518px;
    height: 108px;
    left: 49px;
    top: 303px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
}

.jumbotron .display-4 {
    position: absolute;
    width: 195px;
    height: 57px;
    left: 49px;
    top: 384px;
}

/* Page 1 */

#Page1 {
    margin-bottom: 10vh;
}

/* Page 2 */
#Page2 {
    margin-bottom: 1vh;
}

/* Page 3 */

#Page3 {
    margin-bottom: 5vh;
}

/* Page 4 */

#Page4 {
    margin-bottom: 5vh;
}

// Page 1

.homepage-section1{
    margin-top: 10vh;

    &__title{
        padding-top: 15vh;
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5vh;
        padding-left: 10%;
        padding-right: 5%;
    }

    &__title-description{
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 5vh;
        padding-left: 10%;
        padding-right: 10%;
    }

    &__subdescription-frame{
        display:flex;
        justify-content: space-between;
        padding-bottom: 2vh;
        padding-left: 10%;
        padding-right: 10%;
    }

    &__subdescription-content{
        display: inline-grid;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    &__book-image-frame{
        padding-top: 5vh;
        width: 100%; 
        height: 100%; 
        z-index: 1;
        padding-left: 10vh;
        position: relative;
        display: flex;
        justify-items: center;
        text-align: center;
        align-items: center;
    }

    &__book-image-circle{
        background-color: #FDAF2F;
        width: 560px;
        height: 560px;
        border-radius: 450px;
        position: absolute;
        z-index: 2;
        top: -175px;
        right: -175px;
    }

    &__dotted-squares--above{
        padding-top: 10vh;
        padding-left: 5%;
        width: 50%; 
        height: 100%; 
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        > img {
            width: 145px;
            height: auto;
            position: absolute;
            z-index: 3;
        }
    }
    
    &__dotted-squares--below{
        padding-bottom: 10vh;
        padding-right: 13%;
        width: 50%; 
        height: 100%; 
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        > img {
            width: 145px;
            height: auto;
            position: absolute;
            z-index: 3;
        }
    }

    &__book-image{
        padding-top: 10vh;
        padding-right: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 4;
            padding-bottom: 10%;
        }
    }

}

// Page 2

.homepage-section2{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 5.625rem;

    &__title {
      text-align: center;
    }


    
    &__cards{
        height: 40vh;
        margin-top: 5vh;
        padding-right: 5%;
        padding-left: 5%;
    }

    &__each-card {
        box-sizing: border-box;
        height: 100%;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-right: 10%;
        padding-left: 10%;
        border: 1px solid #E8E8E8;
        border-radius: 7px;
    }

    &__card-icon-header{
        height: 50%;
    }

    &__card-icon-square-frame{
        width: 30%; 
        height: 60%; 
        border: 2px solid #F9A61A;
        border-radius: 10px;
        position: relative;
		background-color: #FFFFFF;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            width: 45%;
            height: auto;
            position: absolute;
            z-index: 3;
        }
    }

    &__card-description{
        margin-bottom: 5vh;
    }
}

.homepage-section3 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 5.625rem;

    &__column-left {
        padding-left: 10%;
        padding-right: 5vw;
    }

    &__title{
        margin-bottom: 5vh;
    }
    
    &__image-frame{
        width: 100%; 
        height: 50vh;
        z-index: 1;
        position: relative;
        display: inline-grid;
        justify-items: center;
        text-align: center;
        align-items: center;

        > img {
            width: 100%; 
            height: 100%; 
            z-index: 3;
            position: absolute;
            display: flex;
            justify-items: center;
            text-align: center;
            align-items: center;
        }
    }

    &__background-logo-circle {
        background-color: #FFF0D6;
        width: 320px; 
        height: 320px; 
        margin-right: 5vw;
        border-radius: 290px;
        position: absolute;
        bottom: 6vh;
        z-index: 2;
        display: flex;
        align-self: center;
        align-self: center;
      }
}

.homepage-section4 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;

    &__column-left {
        padding-left: 5%;
        padding-right: 10vw;
    }

    &__title {
        margin-top: 10vh;
    }

    &__image-frame{
        width: 100%; 
        height: 50vh;
        z-index: 1;
        position: relative;
        display: inline-grid;
        justify-items: center;
        text-align: center;
        align-items: center;

        > img {
            width: 100%; 
            height: 100%; 
            z-index: 3;
            position: absolute;
            display: flex;
            justify-items: center;
            text-align: center;
            align-items: center;
        }
    }

    &__background-logo-circle {
        background-color: #FFF0D6;
        width: 320px; 
        height: 320px; 
        margin-right: 5vw;
        border-radius: 290px;
        position: absolute;
        bottom: 6vh;
        z-index: 2;
        display: flex;
        align-self: center;
        align-self: center;
      }
}

.homepage-section5 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    &__title {
        text-align: center;
        margin-top: 8rem;
    }
}
