.register {
    &__register-form-frame{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

    &__register-form-title{
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    &__register-form-subtitle{
        display:flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top:1vh;
        margin-bottom: 2vh;
    }

    &__register-form-input{
        margin-bottom: 2vh;
    }

    &__register-form-invitesignin {
        text-align: center;
    }

    &__reduce-width {
        width: 100%;
      }
}